@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body{
    background-color: black;
    text-align: center;
    color: limegreen;
    font-family: "Special Elite";
}
#game-container{
    height: 950px;
    width: 1300px;
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
}
#title{
    color: limegreen;
    font-size: 40px;
}

#description{
    font-size: 28px;
}

button{
    color: limegreen;
    background-color: black;
    border: none;
    font-size: 25px;
    font-family: "Special Elite";
    position: relative;
    top: 100px;
    padding-top: 10px;
    cursor: pointer;
}

#text{
    font-size: 36px;
}

#inventoryItem{
    width: 5%;
}