body{
    background-color: rgba(0, 0, 0, 0.945);
    text-align: center;
    color: limegreen;

}
#title{
    color: limegreen;
}
button{
    color: limegreen;
    background-color: black;
    border: 4px solid black;
    font-size: 25px;
}
button:hover{
    background-color: white;
}
#image{
    width: 100%;
}
#text{
    font-size: 36px;
}